<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <form role="form">
        <div class="form-group">
          <label class="text-muted">请填写VIP费用</label>
          <input type="number" class="form-control" ng-model="money">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="redact();"><strong>确定</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>