<div class="modal-header">
    用户详细
</div>
<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">登录账号</label>
                    <label class="col-sm-9 text-left control-label" ng-bind="item.userModel.userName"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">企业名称</label>
                    <label class="col-sm-9" ng-bind="item.name"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">企业营业执照</label>
                    <label class="col-sm-9" ng-bind="item.creditCode"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">联系人</label>
                    <label class="col-sm-9" ng-bind="item.contactPerson"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">联系电话</label>
                    <label class="col-sm-9" ng-bind="item.userModel.cellPhone"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">试用结束时间</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control input-sm" ng-model="time">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 text-right text-muted control-label">营业执照</label>
                    <div class="col-sm-9">
                        <img class="b b-a wrapper-xs bg-white img-responsive"
                             ng-src="api/enterprise/lience?userId={{item.userId}}">
                    </div>
                </div>
                <div class="checkbox m-t-lg">
                    <button type="button" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs"
                            ng-click="start(item.userId)"><strong>通过</strong></button>
                    <button type="button" class="btn btn-sm btn-danger  text-uc m-t-n-xs" ng-click="stop(item.userId)">
                        <strong>不通过</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>