<div class="modal-body wrapper-lg">
      <form name="form-set" class="form-horizontal">
          <div class="form-group">
              <div class="col-sm-12">
                  <label class="text-muted">请修改岗位</label>
                  <input type="text" class="form-control" ng-model="setData.name" placeholder="请输入岗位名称">
              </div>
          </div>
          <div class="form-group">
              <div class="checkbox m-t-lg">
                  <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="jobName()"><strong>确定</strong></button>
              </div>
          </div>
      </form>
</div>
