<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">行业设置</h1>
</div>

<div class="wrapper-md" ng-controller="BusinessCtrl">
    <div class="row">
        <!--分类管理-->
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="row wrapper">
                    <div class="col-sm-12 text-right">
              <span>
                    <button class="btn btn-success" ng-click="typeAdd()">添加行业</button>
              </span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table m-b-none">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>行业名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="y in postLists">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="y.name"></td>
                            <td>
                                <button class="btn  btn-sm btn-success btn-addon" ng-click="typeCompile(y.id)"><i
                                        class="icon icon-grid"></i>编辑
                                </button>
                                <button class="btn  btn-sm btn-warning  btn-addon" ng-click="del(y)"><i
                                        class="icon icon-grid"></i>删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>