<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="appUser">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">用户数据分析</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row row-sm text-center">
                        <div class="col-sm-2">
                            <div class="panel padder-v bg-black item">
                                <div class="h1 text-white font-thin h1" ng-bind="DayLogin.result"></div>
                                <span class="text-muted text-xs">今日注册量</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href class="block panel padder-v bg-primary item">
                                <span class="text-white font-thin h1 block" ng-bind="WeekLogin.result"></span>
                                <span class="text-muted text-xs">本周注册量</span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href class="block panel padder-v bg-info item">
                                <span class="text-white font-thin h1 block" ng-bind="MonthLogin.result"></span>
                                <span class="text-muted text-xs">本月注册量</span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <div class="panel padder-v bg-success item">
                                <div class="h1 text-white font-thin h1 block" ng-bind="DayAttes.result"></div>
                                <span class="text-muted text-xs">今日认证量</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href class="block panel padder-v bg-warning item">
                                <span class="text-white font-thin h1 block" ng-bind="WeekAttes.result"></span>
                                <span class="text-muted text-xs">本周认证量</span>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href class="block panel padder-v bg-danger item">
                                <span class="text-white font-thin h1 block" ng-bind="MonthAttes.result"></span>
                                <span class="text-muted text-xs">本月认证量</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-sm-12">
                    <tabset class="tab-container">
                        <tab>
                            <tab-heading>
                                今日统计
                            </tab-heading>
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-5 m-b-xs">
                                        <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                                                ng-options="x.code as x.name for x in cities |cityFilter:null">
                                        </select>
                                        <select class="input-sm form-control w-sm inline v-middle" ng-model="city"
                                                ng-show="province"
                                                ng-options="x.id as x.name for x in cities |cityFilter:province">
                                        </select>
                                        <button class="btn btn-sm btn-default">搜索</button>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter"
                                               data-page-size="10">
                                            <thead>
                                            <tr>
                                                <th>排名</th>
                                                <th>省</th>
                                                <th>市</th>
                                                <th>注册量</th>
                                                <th>认证量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="x in DayList">
                                                <td ng-bind="$index+1"></td>
                                                <td ng-bind="x.provinceName"></td>
                                                <td ng-bind="x.cityName"></td>
                                                <td ng-bind="x.regCount"></td>
                                                <td ng-bind="x.certifyCount"></td>
                                            </tr>
                                            </tbody>
                                            <tfoot class="hide-if-no-paging">
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-12 text-center">
                                        <tm-pagination conf="dayConf"></tm-pagination>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                本周统计
                            </tab-heading>
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-5 m-b-xs">
                                        <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                                                ng-options="x.code as x.name for x in cities |cityFilter:null">
                                        </select>
                                        <select class="input-sm form-control w-sm inline v-middle" ng-model="city"
                                                ng-show="province"
                                                ng-options="x.id as x.name for x in cities |cityFilter:province">
                                        </select>
                                        <button class="btn btn-sm btn-default">搜索</button>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter"
                                               data-page-size="10">
                                            <thead>
                                            <tr>
                                                <th>排名</th>
                                                <th>省</th>
                                                <th>市</th>
                                                <th>注册量</th>
                                                <th>认证量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="y in WeekList">
                                                <td ng-bind="$index+1"></td>
                                                <td ng-bind="y.provinceName"></td>
                                                <td ng-bind="y.cityName"></td>
                                                <td ng-bind="y.regCount"></td>
                                                <td ng-bind="y.certifyCount"></td>
                                            </tr>
                                            </tbody>
                                            <tfoot class="hide-if-no-paging">
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-12 text-center">
                                        <tm-pagination conf="disabledConf"></tm-pagination>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                本月统计
                            </tab-heading>
                            <div class="wrapper-md">
                                <div class="row">
                                    <div class="col-sm-5 m-b-xs">
                                        <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                                                ng-options="x.code as x.name for x in cities |cityFilter:null">
                                        </select>
                                        <select class="input-sm form-control w-sm inline v-middle" ng-model="city"
                                                ng-show="province"
                                                ng-options="x.id as x.name for x in cities |cityFilter:province">
                                        </select>
                                        <button class="btn btn-sm btn-default">搜索</button>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="table-responsive">
                                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter"
                                               data-page-size="10">
                                            <thead>
                                            <tr>
                                                <th>排名</th>
                                                <th>省</th>
                                                <th>市</th>
                                                <th>注册量</th>
                                                <th>认证量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="z in MonthList">
                                                <td ng-bind="$index+1"></td>
                                                <td ng-bind="z.provinceName"></td>
                                                <td ng-bind="z.cityName"></td>
                                                <td ng-bind="z.regCount"></td>
                                                <td ng-bind="z.certifyCount"></td>
                                            </tr>
                                            <!--<tr ng-show="MonthList.length==0;">-->
                                                <!--<td colspan="7" class="text-center text-muted">没有记录</td>-->
                                            <!--</tr>-->
                                            </tbody>
                                            <tfoot class="hide-if-no-paging">
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-12 text-center">
                                        <tm-pagination conf="paginationConf"></tm-pagination>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>