<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">角色管理</h1>
</div>
<div class="wrapper-md" ng-controller="ModalDemoCtrl">
    <tabset class="tab-container">
        <tab>
            <tab-heading>
                正常
            </tab-heading>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                                ng-options="x.code as x.name for x in cities |cityFilter:null">
                        </select>
                        <select class="input-sm form-control w-sm inline v-middle" ng-model="city" ng-show="province"
                                ng-options="x.id as x.name for x in cities |cityFilter:province">
                        </select>
                        <button class="btn btn-sm btn-default">搜索</button>
                    </div>

                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="搜你想要的">
                            <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
                        </div>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1">
                        <button class="btn  btn-sm btn-success btn-addon" ng-click="typeAdd()"><i class="fa fa-plus-square"></i>添加账号
                        </button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table m-b-none">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>登录账号</th>
                                <th>省-市</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                <th>最后登录时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="y in getNormal">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="y.userModel.userName"></td>
                                <td ng-bind="y.districtModel.name"></td>
                                <td ng-bind="y.name"></td>
                                <td ng-bind="y.userModel.cellPhone"></td>
                                <td ng-bind="y.cTime"></td>
                                <td>
                                    <button class="btn btn-sm btn-info btn-addon"
                                            ng-click="reset(y)"><i class="icon icon-bell"></i>重置
                                    </button>
                                    <button class="btn  btn-sm btn-success btn-addon"
                                            ng-click="typeCompile(y.userId)"><i class="icon icon-grid"></i>编辑
                                    </button>
                                    <button class="btn  btn-sm btn-danger btn-addon" ng-click="disabled(y)"><i
                                            class="fa fa-unlock-alt"></i>禁用
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                禁用
            </tab-heading>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                                ng-options="x.code as x.name for x in cities |cityFilter:null">
                        </select>
                        <select class="input-sm form-control w-sm inline v-middle" ng-model="city" ng-show="province"
                                ng-options="x.id as x.name for x in cities |cityFilter:province">
                        </select>
                        <button class="btn btn-sm btn-default">搜索</button>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="搜你想要的">
                            <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table m-b-none">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>登录账号</th>
                                <th>省-市</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                <th>最后登录时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in disabledList">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="x.userModel.userName"></td>
                                <td ng-bind="x.districtModel.name"></td>
                                <td ng-bind="x.name"></td>
                                <td ng-bind="x.userModel.cellPhone"></td>
                                <td ng-bind="x.cTime"></td>
                                <td>
                                    <button class="btn  btn-sm btn-info btn-addon" ng-click="enable(x)"><i
                                            class="fa fa-unlock"></i>启用
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12">
                        <tm-pagination conf="disabledConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>1