<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">用户管理</h1>
</div>
<div class="wrapper-md" ng-controller="usersList">
  <tabset class="tab-container">
    <tab>
      <tab-heading>
        正常
      </tab-heading>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-5 m-b-xs">
            <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                    ng-options="x.code as x.name for x in cities |cityFilter:null">
            </select>
            <select class="input-sm form-control w-sm inline v-middle" ng-model="city" ng-show="province"
                    ng-options="x.id as x.name for x in cities |cityFilter:province">
            </select>
            <button class="btn btn-sm btn-default">搜索</button>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-3" role="search">
            <div class="input-group">
              <input id="filter" type="text" placeholder="搜你想要的" class="form-control input-sm w-md inline m-r"/>
              <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table m-b-none">
              <thead>
              <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>联系电话</th>
                <th>认证状态</th>
                <th>省-市</th>
                <th>注册时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="y in normalList">
                <td ng-bind="$index+1"></td>
                <td ng-bind="y.userModel.userName"></td>
                <td ng-bind="y.name"></td>
                <td ng-bind="y.userModel.cellPhone"></td>
                <td ng-bind="y.certifyStatusName"></td>
                <td ng-bind="y.province.name + '-' + y.city.name"></td>
                <td ng-bind="y.regTime"></td>
                <td>
                  <button class="btn  btn-sm btn-success btn-addon" ng-click="detail(y.userId)"><i class="icon icon-grid"></i>详细</button>
                  <button class="btn  btn-sm btn-danger btn-addon" ng-click="disabled(y)"><i class="fa  fa-unlock-alt"></i>禁用</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-12">
            <tm-pagination conf="paginationConf"></tm-pagination>
          </div>
        </div>
      </div>
    </tab>
    <tab>
      <tab-heading>
        禁用
      </tab-heading>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-5 m-b-xs">
            <select class="input-sm form-control w-sm inline v-middle" ng-model="province"
                    ng-options="x.code as x.name for x in cities |cityFilter:null">
            </select>
            <select class="input-sm form-control w-sm inline v-middle" ng-model="city" ng-show="province"
                    ng-options="x.id as x.name for x in cities |cityFilter:province">
            </select>
            <button class="btn btn-sm btn-default">搜索</button>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="搜你想要的">
              <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
              <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>联系电话</th>
                <th>认证状态</th>
                <th>省-市</th>
                <th>注册时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="x in disabledList">
                <td ng-bind="$index+1"></td>
                <td ng-bind="x.userModel.userName"></td>
                <td ng-bind="x.name"></td>
                <td ng-bind="x.userModel.cellPhone"></td>
                <td ng-bind="x.certifyStatusName"></td>
                <td ng-bind="x.province.name + '-' + x.city.name"></td>
                <td ng-bind="x.regTime"></td>
                <td>
                  <button class="btn  btn-sm btn-success btn-addon" ng-click="detail(x.userId)"><i class="icon icon-grid"></i>详细</button>
                  <button class="btn  btn-sm btn-info btn-addon" ng-click="enable(x)"><i class="fa  fa-unlock"></i>启用</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-12">
            <tm-pagination conf="disabledConf"></tm-pagination>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>